main{
    display: grid;
    grid-template-columns: 115px 115px 115px;
    text-align:center;
    
    font-size: 30px;
    padding:20px;
}
app-square
{
    border: 5px gray solid;
    height: 110px;
}
