main{
    display: grid;
    grid-template-columns: 115px 115px 115px;
    text-align:center;
    
    font-size: 30px;
    padding:20px;
}
app-square
{
    border: 4px gray solid;
    height: 110px;
    
}


* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  
  .column {
    flex: 50%;
    padding: 10px;
    height: 500px; 
  }

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 200px;
    cursor: pointer;
  }

  .button1 {background-color: #4CAF50;}