<!--<h1>Current player</h1>
<h3>{{player}}</h3> 
-->
<style>
    h1{
        text-indent: 900px; 
    }
</style>
<body>
<h1>TIC-TAC-TOE</h1>

<button (click)="newgame()">START NEWGAME</button>

<h2 *ngIf="winner">
    Player{{winner}} won the game 
</h2>
<div style="vertical-align: middle;">
<main >
    
            <app-square
                             *ngFor="let val of squares; let i=index"
                             [value]="val"
                             (click)=makethemove(i)>
            </app-square>
   
    
   
   

              
</main>
</div>
<br>
<br>
<br>
<br>
<hr>
</body>